<%- include('../layouts/header.ejs') %>
<%- include('../layouts/sidebar.ejs') %>
  <div class="ml-[250px] p-6">
    <!-- Main content goes here -->
    <h1>Dashboard</h1>
    <p>Welcome to the admin dashboard!</p>
  </div>
  

<%- include('../layouts/footer.ejs') %>
