<%- include('../layouts/header.ejs') %>
<h1 class="bg-red-300 border border-spacing-4 text-center">Welocome to Product Management</h1>
<table>
    <%= products %>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  
<%- include('../layouts/footer.ejs') %>
