<nav class="bg-[#f7f7f8] h-screen fixed top-0 left-0 min-w-[250px] py-6 px-4 font-[sans-serif]">
  
    <p class="ml-8 text-3xl">CoveHive</p>

    <div class="overflow-auto py-6 h-full mt-4">
      <ul class="space-y-1">
        <li>
          <a href="javascript:void(0)"
            class="text-black hover:text-blue-600 text-[15px] flex items-center hover:bg-white rounded px-4 py-3 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-[18px] h-[18px] mr-4"
              viewBox="0 0 512 512">
            </svg>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/admin/customers"
            class="text-black hover:text-blue-600 text-[15px] flex items-center hover:bg-white rounded px-4 py-3 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-[18px] h-[18px] mr-4"
              viewBox="0 0 512 512">
            </svg>
            <span>Customers</span>
          </a>
        </li>
        <li>
          <a href="/admin/products"
            class="text-black hover:text-blue-600 text-[15px] flex items-center hover:bg-white rounded px-4 py-3 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-[18px] h-[18px] mr-4"
              viewBox="0 0 24 24">
            </svg>
            <span>Products</span>
          </a>
        </li>
        <li>
          <a href="/admin/addProducts"
            class="text-black hover:text-blue-600 text-[15px] flex items-center hover:bg-white rounded px-4 py-3 transition-all ">
              <g fill-opacity=".9">
              </g>
            </svg>
            <span class="ml-8">Add products</span>
          </a>
        </li>
    
        <li>
          <a href="/admin/coupons"
            class="text-black hover:text-blue-600 text-[15px] flex items-center hover:bg-white rounded px-4 py-3 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-[18px] h-[18px] mr-4"
              viewBox="0 0 512.003 512.003">
            </svg>
            <span>Coupons</span>
          </a>
        </li>
          <a href="/admin/orders"
            class="text-black hover:text-blue-600 text-[15px] flex items-center hover:bg-white rounded px-4 py-3 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-[18px] h-[18px] mr-4"
              viewBox="0 0 512.003 512.003">
            </svg>
            <span>Orders</span>
          </a>
        </li>
        <li>
          <a href="/admin/banners"
            class="text-black hover:text-blue-600 text-[15px] flex items-center hover:bg-white rounded px-4 py-3 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-[18px] h-[18px] mr-4"
              viewBox="0 0 511.877 511.877">
            </svg>
            <span>Banners</span>
          </a>
        </li>
        <li>
          <a href="/admin/offers"
            class="text-black hover:text-blue-600 text-[15px] flex items-center hover:bg-white rounded px-4 py-3 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-[18px] h-[18px] mr-4"
              viewBox="0 0 193.769 193.769">
            </svg>
            <span>Offers</span>
          </a>
        </li>
        <li>
          <a href="/admin/categories"
            class="text-black hover:text-blue-600 text-[15px] flex items-center hover:bg-white rounded px-4 py-3 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-[18px] h-[18px] mr-4"
              viewBox="0 0 512 512">
            </svg>
            <span>Categories</span>
          </a>
        </li>
        <li>
          <a href="/admin/logout"
            class="text-black hover:text-blue-600 text-[15px] flex items-center hover:bg-white rounded px-4 py-3 transition-all">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-[18px] h-[18px] mr-4"
              viewBox="0 0 6.35 6.35">
            </svg>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>