<form action="/add-address" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="fullName"  value="Vighnesh SL"required>
      </div>

    <div>
      <label for="street">Building/Address line:</label>
      <input type="text" id="street" name="street" value="Garden Street">
    </div>
  
    <div>
      <label for="city">City:</label>
      <input type="text" id="city" name="city" value="Trivandrum" required>
    </div>
  
    <div>
      <label for="pincode">pincode:</label>
      <input type="text" id="zip" name="pincode"  value="686576"required>
    </div>
  
    <div>
      <label for="state">State:</label>
      <input type="text" id="state" name="state" value="Kerala" required>
    </div>
  
    <div>
      <label for="country">Country:</label>
      <input type="text" id="country" name="country"  value="India"required>
    </div>
  
  
    <button type="submit">Add Address</button>
  </form>
  